<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Restablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="reset-password-content">
  <div class="reset-password-container">
    <h1 class="header-title">Restablecer Contraseña</h1>
    <p class="instruction-message">Introduce tu correo electrónico para recibir un código de acceso.</p>

    <form (submit)="onReset()" class="reset-password-form">
      <ion-item>
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input [(ngModel)]="username" name="username" required type="email"></ion-input>
      </ion-item>

      <ion-button expand="full" type="submit" class="submit-button">Enviar Solicitud</ion-button>
    </form>

    <ion-footer class="footer-links">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button class="back-button" routerLink="/login">
            <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
            Volver al Login
          </ion-button>
        </ion-buttons>
        
      </ion-toolbar>
    </ion-footer>
  </div>
</ion-content>
