.reset-password-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #f7f9fc; 
  }
  
  .reset-password-container {
    background-color: #ffffff; 
    border-radius: 12px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
    padding: 40px;
    width: 90%; 
    max-width: 450px; 
    margin: 0 auto; 
    text-align: center; 
  }
  
  
  .header-title {
    font-size: 26px;
    color: #333;
    margin-bottom: 15px;
  }
  
  .instruction-message {
    font-size: 16px;
    color: #555;
    margin-bottom: 25px;
  }
  
  .reset-password-form {
    width: 100%;
  }
  
  .submit-button {
    --background: #3880ff;
    --color: #ffffff; 
    margin-top: 20px; 
    border-radius: 25px;
    font-weight: bold; 
  }
  
  .footer-links {
    margin-top: 20px;
  }
  