<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="center-title">Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="login-content">
  <div class="login-wrapper">
    <div class="login-card">
      <div class="login-header">
        <ion-avatar class="login-avatar">
          <img alt="User Avatar" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <h2>Bienvenido</h2>
      </div>

      <form class="login-form" (ngSubmit)="login()">
        <ion-item>
          <ion-label position="floating">Usuario</ion-label>
          <ion-input type="text" [(ngModel)]="username" name="username" required></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" [(ngModel)]="password" name="password" required>
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
        </ion-item>
      
        <ion-button expand="full" type="submit">Ingresar</ion-button>
      </form>
      

      <div class="login-footer">
        <p>Olvidé mi contraseña <a href="/reset-password">Recuperar</a></p>
      </div>
    </div>
  </div>
</ion-content>
