<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Solicitud de Cambio de Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<div class="Texto"><h6>Ingresa el código que te hemos enviado a tu correo y establece una nueva contraseña.</h6></div>

<ion-content>
  <form (submit)="onSubmit()" class="form">
    <ion-item>
      <ion-label position="floating">Código de acceso</ion-label>
      <ion-input [(ngModel)]="codigo" name="codigo" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nueva Contraseña</ion-label>
      <ion-input 
        [(ngModel)]="nuevaContrasena" 
        name="nuevaContrasena" 
        [type]="showNewPassword ? 'text' : 'password'" 
        required>
        <ion-button slot="end" (click)="toggleNewPasswordVisibility()" fill="clear" class="eye-icon">
          <ion-icon [name]="showNewPassword ? 'eye-off' : 'eye'"></ion-icon>
        </ion-button>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Confirmar Nueva Contraseña</ion-label>
      <ion-input 
        [(ngModel)]="confirmarContrasena" 
        name="confirmarContrasena" 
        [type]="showConfirmPassword ? 'text' : 'password'" 
        required>
        <ion-button slot="end" (click)="toggleConfirmPasswordVisibility()" fill="clear" class="eye-icon">
          <ion-icon [name]="showConfirmPassword ? 'eye-off' : 'eye'"></ion-icon>
        </ion-button>
      </ion-input>
    </ion-item>

    <ion-button expand="full" type="submit">Enviar Solicitud</ion-button>
  </form>

  <div class="footer-text">
    <p>¿Ya tienes cuenta? <a href="/login">Iniciar sesión</a></p>
  </div>
</ion-content>