<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Cambio de Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="Texto">
    <h6>Ingresa el código que te hemos enviado a tu correo y establece una nueva contraseña.</h6>
  </div>

  <form (submit)="onSubmit()" class="form">
    <ion-item>
      <ion-label position="floating">Código de acceso</ion-label>
      <ion-input [(ngModel)]="codigo" name="codigo" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nueva Contraseña</ion-label>
      <ion-input 
        [(ngModel)]="nuevaContrasena" 
        name="nuevaContrasena" 
        [type]="showNewPassword ? 'text' : 'password'" 
        required>
        <ion-button slot="end" (click)="toggleNewPasswordVisibility()" fill="clear" class="eye-icon">
          <ion-icon [name]="showNewPassword ? 'eye-off' : 'eye'"></ion-icon>
        </ion-button>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Confirmar Contraseña</ion-label>
      <ion-input 
        [(ngModel)]="confirmarContrasena" 
        name="confirmarContrasena" 
        [type]="showConfirmPassword ? 'text' : 'password'" 
        required>
        <ion-button slot="end" (click)="toggleConfirmPasswordVisibility()" fill="clear" class="eye-icon">
          <ion-icon [name]="showConfirmPassword ? 'eye-off' : 'eye'"></ion-icon>
        </ion-button>
      </ion-input>
    </ion-item>

    <ion-button expand="full" routerLink="/login" class="submit-button">Enviar Solicitud</ion-button>

  </form>
</ion-content>
